{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&family=Pacifico&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Title -->
    <title>Lieblingsmensch</title>
</head>
<body>
    <!-- Navbar -->


    <!-- Main content -->
    <main class="d-flex flex-column">
        {% block content %}
        {% endblock content %}
    </main>

    <!-- Footer -->
</body>
</html>